<div class="container">
  <div class="container__top">
    <p class="main__title">UNTELS INSULATOR APPLICATION</p>
  </div>

  <div class="container__content px-5">
    <div class="button__container">
      <ion-button
        expand="block"
        [color]="isFirstComplete ? 'success' : 'light'"
        [routerLink]="['/process/geographical-data']"
        class="mt-3 w-100"
      >
        <ion-icon slot="start" name="map-outline"></ion-icon>
        Datos Geográficos
      </ion-button>
      <!-- <ion-badge color="danger">1</ion-badge> -->
    </div>
    <ion-button
      expand="block"
      [routerLink]="['/process/line-transmission-data']"
      [color]="isSecondComplete ? 'success' : 'light'"
      class="mt-3 w-100"
    >
      <ion-icon slot="start" name="flash-outline"></ion-icon>
      Datos de Línea de Transmisión
    </ion-button>
    <ion-button
      expand="block"
      [routerLink]="['/process/insulator-data']"
      [color]="isThirdComplete ? 'success' : 'light'"
      class="mt-3 w-100"
    >
      <ion-icon slot="start" name="options-outline"></ion-icon> Datos del
      Aislador
    </ion-button>
    <ion-button
      expand="block"
      [color]="isForthComplete ? 'success' : 'light'"
      [routerLink]="['/process/mechanical-calculation']"
      class="mt-3 w-100"
    >
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon> Cálculo
      Mecánico
    </ion-button>

    <ion-button
      expand="block"
      color="danger"
      class="mt-7 w-100"
      (click)="generateReport()"
      [disabled]="!isFirstComplete || !isSecondComplete || !isThirdComplete || !isForthComplete"
    >
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      Generar Reporte
    </ion-button>
    <ion-label
      *ngIf="!isFirstComplete || !isSecondComplete || !isThirdComplete || !isForthComplete"
      ><p class="hint">
        Se podrá generar el reporte cuando complete todos los formularios
      </p></ion-label
    >

    <ion-button
      (click)="cleanForms()"
      expand="block"
      color="dark"
      class="mt-10 w-100"
    >
      <ion-icon slot="start" name="shapes-outline"></ion-icon>
      Limpiar Formularios
    </ion-button>
  </div>
</div>
