.main__title {
  text-align: center;
  font-size: 1.8rem;
}

.container {
  height: 100vh;

  &__top {
    height: 100px;
  }

  &__content {
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.button__container {
  width: 100%;
  position: relative;

  ion-badge {
    position: absolute;
    top: 2px;
    right: 10px;
  }
}
